.app {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.app::before {
  content: "";
  position: absolute;
  left: -190vw;
  top: 20vh;
  width: 400vw;
  height: 400vw;
  background: #0040FF;
  border-radius: 50%;
  z-index: -1;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.app__header__logo-container {
  width: 68px;
  height: 40px;
}

.app__header__logo-img {
  width: 100%;
  height: 100%;
}

.app__content {
  width: 100%;
  height: 100%;
  padding: 3vw;
}
